<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2cabec54-c07e-4ff0-abd2-86ae002df10a"
            Publisher="CN=zhorovkov.vladimir"
            Version="1.0.0.0" />
  <Properties>
    <DisplayName>Donut</DisplayName>
    <PublisherDisplayName>zhorovkov.vladimir</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SlideView.App">
      <VisualElements DisplayName="SlideView" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SlideView" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>